{% extends "base.html" %}
{% block title %}Confirmation{% endblock %}
{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="col-6 card h-100" style="border: 1px solid purple">
        <div class="card-body">
            <h6 class="card-title"><i style="margin-right:5px;" class="fa fa-shopping-cart"></i><i
                    style="font-style: normal;font-weight:bold;">Confirmation:</i>
                <em style="font-style: normal;color:blue;">{{ order['description'] }}</em> delivery {{ method[2] }}</h6>
            <hr/>

            <div class="card-text small container-fluid">
                <div class="row align-items-center" style="margin-bottom:3px;">
                    <label class="col-sm-2" for="description">Description</label>
                    <label id="description" type="la" class="col-sm-8 form-control">{{ order['description'] }}</label>
                </div>
                <div class="row form-group" style="margin-top:10px;">
                    <label for="volume" class="col-sm-2">Volume</label>
                    <label id="volume" class="col-sm-2">{{ order["volume"] }}</label>
                </div>
                <div class="row form-group" style="margin-top:3px;">
                    <label for="weight" class="col-sm-2">Weight</label>
                    <label id="volume" type="weight" class="col-sm-2">{{ order["weight"] }}</label>
                </div>
                <hr/>
                <div class="row form-group " style="margin-top:3px;">
                    <label class="col-sm-2">Hazardous</label>
                    <div class="col-sm-2">
                        <input type="checkbox" class="text-primary" style="pointer-events: none;"
                               {% if order["is_hazardous"] == True %} checked
                        {% endif %}>
                    </div>
                </div>
                <div class="row form-group " style="margin-top:3px;">
                    <label  class="col-sm-2">International</label>
                    <div class="col-sm-2">
                        <input type="checkbox" class="text-primary" style="pointer-events: none;"
                               {% if order["is_international"] == True %} checked
                        {% endif %}>
                    </div>
                </div>
                <div class="row form-group text-primary" style="margin-top:3px;background-color: aliceblue;">
                    <label for="cost" class="col-sm-2">Cost</label>
                    <label id="cost" type="weight" class="col-sm-2">{{ method[1] | dollar }}</label>
                </div>
            </div>
        </div>
    </div>
{% endblock %}