{% extends "base.html" %}
{% block title %}Edit Customer{% endblock %}
{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="col-6 card h-100" style="border: 1px solid purple;">
        <div class="card-body">
            <h6 class="card-title"><i style="margin-right:5px;" class="fa fa-user-edit"></i>Update Customer</h6>
            <hr/>
            <form method="POST">
                <div class="card-text small">
                    <table style="width: 100%;">
                        <tr>
                            <th>First Name</th>
                            <td><input id="name" type="text" value="{{ customer.first_name }}" name="first_name"
                                       class="form-control"></td>
                        </tr>
                        <tr>
                            <th>Last Name</th>
                            <td><input id="title" type="text" value="{{ customer.last_name }}" name="last_name"
                                       class="form-control"></td>
                        </tr>
                        <tr>
                            <th>E-Mail</th>
                            <td><input type="text" id="email" value="{{ customer.email }}" name="email"
                                       class="form-control"></td>
                        </tr>
                    </table>
                </div>
                <hr/>
                <h6>Booking History</h6>
                <ul class="list-group">
                    {% for o in orders %}
                        <li class="list-group-item">
                        <div class="row">

                            <span>{{ o.to_string() }}</span>
                        </div>
                    {% endfor %}
                </ul>
                <hr/>
                <div class="container-fluid button-container">
                    <div style="float:left;margin-top:3px;" class="text-center">
                        <button type="submit"
                                title="Save"
                                style="width:80px;"
                                class="btn btn-sm btn-outline-primary">
                            <i style="float:left;margin-top:3px;" class="fa fa-save"></i>Save
                        </button>
                        <button onclick="cancel()"
                                type="button"
                                title="Cancel"
                                style="width:80px;"
                                class="btn btn-sm btn-outline-warning">
                            <i style="float:left;margin-top:3px;" class="fa fa-minus-circle"></i>Cancel
                        </button>
                        <button onclick="deleteCustomer({{ customer.id}} ,'{{customer.first_name }}')"
                                title="Delete Customer"
                                type="button"
                                style="width:80px;"
                                class="btn btn-sm btn-outline-danger card_button">
                            <i style="float:left;margin-top:3px;"  class="fa fa-user-minus"></i>Delete</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}